@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* Css Common Styles */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    margin: 130px 0;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background: #131313;
    transition: 0.5s;
}
.pra-style{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
    margin-top: 24px;
    margin-bottom: 32px;
}
.sec-heading{
    font-size: 2.81rem;
    color: #131313;
    font-weight: bold;
}
/* All Colors */
.Dark-01{
    color: #131313;
}
.Dark-02{
    color: rgba(66, 66, 66, 1);
}
.Dark-03{
    color: rgba(114, 114, 114, 1);
}
.Dark-04{
    color: rgba(161, 161, 161, 1);
}
.Dark-05{
    color: rgba(208, 208, 208, 1);
}
.primary-color{
    color: rgba(255, 144, 14, 1);
}
.sec-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-bg-color{
    background: rgba(255, 144, 14, 1);
}

/* Header Style */

/* nav style */
header{
    padding: 50px 0;
}
.nav-container{
    justify-content: space-between;
    align-items: center;
}
.nav-container .nav-logo{
    align-items: center;
}
.nav-logo #g3{
    color: rgb(255, 137, 2);
}
.nav-container .nav-logo h1{
    padding-top: 10px;
    margin-left: 5px;
}
.nav-container .nav-logo img{
    width: 50px;
}
.nav-menu ul{
    list-style: none;
    align-items: center;
    gap: 50px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1.12rem;
    font-weight: 500;
    outline: none;
}
.nav-menu ul li a:hover{
    color: rgb(255, 137, 2);
}
/* hero section style */
.hero-section{
    margin: 0;
}
.hero-section .hero-content{
    max-width: 868px;
    margin: 50px auto;
}
.hero-section .hero-content h2{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.hero-section .hero-image img{
    width: 100%;
}

/* Team Section Style */
.team-container{
    align-items: center;
    gap: 73px;
}
.team-container .team-left .team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-container .team-right .team-text #quick-list{
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}
.team-container .team-right .team-text{
    max-width: 537px;
}

/* Features Section Styles */
.features-container{
    gap: 146px;
}
.features-container .feature-left .feature-text{
    max-width: 586px;
}
.features-container .feature-left .feature-text #feature-heading{
    border-left: 5px solid rgb(255, 137, 2);
    padding-left: 21px;
}
.features-container .feature-left .features-items .feature-box{
    max-width: 586px;
    height: 171px;
    padding: 20px 42px 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.features-container .feature-left .features-items .feature-box > h3{
    font-size: 20px;
    font-weight: 700;
    color: #131313;
}
.features-container .feature-left .features-items .feature-box > p{
    margin-bottom: 0;
}
.features-container .feature-right .feature-img img{
    width: 100%;
}
.features-container .feature-right #exp-btn{
    padding: 45px 42px;
    color: white;
    background: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    margin-left: -100px;
    margin-top: -90px;
}
.features-container .feature-right #exp-btn #year10{
    font-size: 1.56rem;
    font-weight: 700;
}
.features-container .feature-right #exp-btn > #experience{
    font-size: 25px;
    font-weight: 600;
}
/* Facts Section Styles */
.facts-section .fact-text{
    max-width: 542px;
    margin-bottom: 100px;
}
.facts-section .facts-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.facts-section .facts-items .fact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 241px;
    height: 241px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
}
.facts-section .facts-items .fact-box h3{
    font-size: 2.81rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}
.facts-section .facts-items .fact-box h5{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(114, 114, 114, 1);
}
.facts-section .facts-items .fact-box img{
    width: 50px;
}

/* Sponsor Section Styles */
.sponsor-section .sponsor-logos{
    filter: grayscale(100);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-section .sponsor-text{
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 50px;
}


/* Responsive Media Query */
.hide{
    display: none;
}

/* For Smaller Device */
@media screen and (max-width: 576px) {
    .nav-container, .team-container, .features-container{
        flex-direction: column;
    }
    section{
        margin: 60px 0;
    }
    .container, .nav-logo{
        margin: 0 10px;
    }
    header{
        padding-top: 20px;
    }
    .nav-menu > ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-container .nav-logo{
        margin-bottom: 30px;
    }
    .nav-container .nav-logo img{
        width: 100px;
    }
    .team-container .team-left .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-container .team-right .team-text{
        padding: 0 20px;
    }
    .features-container{
        gap: 50px;
    }
    .features-container .feature-right #exp-btn{
        margin: -100px 0 0 0;
    }
    .facts-section .facts-items{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .sponsor-section .sponsor-logos{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

/* For Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container, .team-container,.features-container{
        flex-direction: column;
    }
    .nav-container .nav-logo{
        margin-bottom: 30px;
    }
    .features-container .feature-left{
        padding: 0 0 0 60px;
    }
    .features-container .feature-right #exp-btn{
        margin: -100px 0 0 20px;
    }
    .facts-section .facts-items{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .facts-section .fact-text{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }
    .sponsor-section .sponsor-logos{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}


